<body>
    <br><br>


    <section>
        <div class="login_img">

            <a> <img src="./../../assets/logo2.png" style="height: 400px; width: 500px;" alt=""></a>
        </div>
    </section>

   
    <section class="vh-100">
        <div class="form1">
            <form class="form_main" action="">
                <p class="heading">Login</p>


                <div class="form-outline mb-4">

                    <input type="text" id="form2Example17" class="form-control form-control-lg" placeholder="User Name"
                        [(ngModel)]="userDTO.id" name="username" required pattern="[a-zA-Z0-9]*" #username="ngModel" />
                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
                        <div *ngIf="username.errors?.['required']">User Name is required.</div>
                        <div *ngIf="username.errors?.['pattern']">User Name must not contain Special characters</div>
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" class="form-control form-control-lg"
                        placeholder="Password" [(ngModel)]="userDTO.password" name="password" required
                        #password="ngModel" />

                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                        <div *ngIf="password.errors?.['required']">Password is required.</div>
                    </div>
                </div>

                <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="button" (click)="Login()">Login</button>
                </div>

                <!-- <li aria-disabled="true" class="small text-muted" href="#!">Forgot password?</li> -->
                <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account?
                    <a (click)="move()" style="color: #393f81;cursor: pointer;">Register here </a>
                </p>


            </form>
        </div>




    </section>


</body>