
  <main>
    <div id="slider">
      <figure>
            <img src="../../assets/col5.jpg">
            <img src="../../assets/col4.jpg">
            <img src="../../assets/col1.jpg ">

            
      </figure>
      <p class="item-1">This is your last chance. After this, there is no turning back.</p>

      <p class="item-2">You take the blue pill - the story ends, you wake up in your bed and believe whatever you want to believe.</p>

       <p class="item-3">You take the red pill - you stay in Wonderland and I show you how deep the rabbit-hole goes.</p>
  </div>
  
   



    <section class="features">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="feature">
              <i class="fa fa-heartbeat"></i>
              <h3>Quality Care</h3>
              <p>Our team of dedicated healthcare professionals ensures high-quality care for all patients.</p>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <i class="fa fa-stethoscope"></i>
              <h3>Advanced Technology</h3>
              <p>We leverage the latest medical technologies to provide accurate diagnoses and effective treatments.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <i class="fa fa-users"></i>
              <h3>Compassionate Staff</h3>
              <p>Our caring and compassionate staff members prioritize patient well-being and comfort.</p>
            </div>
          </div>
        </div>
      </div>
    </section><br><br><br><br>
    <section>
    <div class="row ">
        <div class="col-sm-4"id="img1">
          <div class="flip-card ">
            <div class="flip-card-inner">
              <div class="flip-card-front" >
                <img src="./../../assets/d1.avif" alt="Avatar" style="width:300px;height:300px; ">
              </div>
              <div class="flip-card-back">
                <h1>Dr Robin Ramsohoye</h1>
                <p> Interventional Cardiologist,</p>
                 <P> Chennai, India</P>
              
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="./../../assets/d4.avif" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Dr. Saritha Vinod</h1>
                <p>Medical Gastroenterologist,</p>
                <p> Chennai, India</p>
               
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="./../../assets/d2.jfif" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>	
                  Dr. Prithvi Mohandas</h1>
                <p>Orthopaedic and Joint Replacement Surgeon,</p>
                <p>  Chennai, India</p>
                
              </div>
            </div>
          </div>
         </div>
        </div>
        
      </section><br><br><br><br>












     <section class="testimonial">
      <div class="container">
        <blockquote>
          <p>"I received exceptional care from the HealthCare team. They truly go above and beyond for their patients."</p>
          <cite>- John Doe</cite>
        </blockquote>
      </div>
    </section>

    <section class="cta">
      <div class="container">
        <h2>Book an Appointment Today</h2>
        <p>Contact us to schedule an appointment and receive the healthcare services you need.</p>
        <a [routerLink]="['./Doctor']" class="btn btn-outline-success">Click Here Book </a>
      </div>
    </section>
    <div class="testimonial-slider">
      <div id="carouselExampleControls" class="carousel carousel-dark" data-bs-ride="false">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="testimonial-title">
                <i class="bi bi-quote display-1"></i>
                <h2 class="fw-bold display-6">What our customers say</h2>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="col-md-8">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="card">
                    <div class="img-wrapper"><img src="https://codingyaar.com/wp-content/uploads/headshot-1-scaled.jpg" class="d-block w-100" alt="..."> </div>
                    <div class="card-body">
                      <h5 class="card-title">Response to COVID-19</h5>
                      <i class="bi bi-star-fill text-warning pe-1"></i>
                      <i class="bi bi-star-fill text-warning pe-1"></i>
                      <i class="bi bi-star-fill text-warning pe-1"></i>
                      <i class="bi bi-star-fill text-warning pe-1"></i>
                      <i class="bi bi-star-fill text-warning pe-1"></i>
                      <p class="card-text">I have two relatives who are residents in Byron Court Nursing Home. The nursing home is well-led,..
                        card's content.</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="card">
                    <div class="img-wrapper"><img src="https://codingyaar.com/wp-content/uploads/headshot-2-scaled.jpg" class="d-block w-100" alt="..."> </div>
                    <div class="card-body">
                      <h5 class="card-title">Quality Enhancement</h5>
                      <p class="card-text">Mum moved into Sandy Banks during the Covid lockdown due to her dementia deterioration. Even though...</p>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </main>


