<body>
  <br><br>


  <section>
    <div class="login_img">

      <a> <img src="./../../assets/logo2.png" style="height: 400px; width: 500px;" alt=""></a>
    </div>
  </section>

  <section class="vh-150">
    <div class="form1">
      <form class="form_main" action="">
        <p class="heading">Register</p>

        <form #register_form="ngForm">
          <div class="form-outline mb-4">
            <input type="text" class="form-control form-control-lg" required pattern="[a-zA-Z0-9]*"
              placeholder="Username" id="id" name="id" #id="ngModel" [(ngModel)]="register.id" />
            <div *ngIf="(id?.dirty || id?.touched)" class="text-danger">
              <div *ngIf="!id?.valid">
                <div *ngIf="id.errors?.['required']">
                  User name is required
                </div>
                <div *ngIf="id.value && id.errors && !id.errors?.['required']">
                  Please enter a valid input [Username should not contain special charaters]
                </div>
              </div>
            </div>
          </div>


          <div class="form-outline mb-4">
            <input type="password" class="form-control form-control-lg" placeholder="Password"
              [(ngModel)]="register.passwordClear" name="password" required
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" #password="ngModel" />
            <div *ngIf="password.invalid && password.touched" class="text-danger">
              <div *ngIf="password.errors?.['required']">Password is required.</div>
              <div *ngIf="password.errors?.['pattern']">
                Password should contain a minimum of 8 characters with at least 1 uppercase, 1 lowercase, 1
                digit, and 1 special character.
              </div>
            </div>
          </div>


          <div class="form-outline mb-4">
            <input type="email" class="form-control form-control-lg" placeholder="Email" name="email"
              [(ngModel)]="register.email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
              #email="ngModel" />
            <div *ngIf="email.invalid && email.touched" class="text-danger">
              <div *ngIf="email.errors?.['required']">Email is required.</div>
              <div *ngIf="email.errors?.['pattern']">Please enter a valid email address.</div>
            </div>
          </div>


          <div class="form-outline mb-4">
            <input type="number" class="form-control form-control-lg" placeholder="Age"
              [(ngModel)]="register.age" name="age" required pattern="[0-9]+"
              #experiance="ngModel" />
            <div *ngIf="experiance.invalid && experiance.touched" class="text-danger">
              <div *ngIf="experiance.errors?.['required']">experiance is required.</div>
              <div *ngIf="experiance.errors?.['pattern']">Please enter a valid experiance (only alphabets are
                allowed).</div>
            </div>

          </div>




          <div class="form-outline mb-4">
            <select class="form-control form-control-lg" [(ngModel)]="register.gender" name="gender" required
              #gender="ngModel">
              <option value="" disabled selected hidden>Select Gender</option>
              <option value="female">Female</option>
              <option value="male">Male</option>
            </select>
            <div *ngIf="gender.invalid && gender.touched" class="text-danger">
              <div *ngIf="gender.errors?.['required']">Gender is required.</div>
            </div>
          </div>


          <div class="form-outline mb-4">
            <input type="text" class="form-control form-control-lg" placeholder="Location"
              [(ngModel)]="register.location" name="location" required pattern="[a-zA-Z]+" #location="ngModel" />
            <div *ngIf="location.invalid && location.touched" class="text-danger">
              <div *ngIf="location.errors?.['required']">Loation is required.</div>

            </div>
          </div>

          <div class="form-outline mb-4">
            <input type="tel" class="form-control form-control-lg" placeholder="Phone Number"
              [(ngModel)]="register.phone" name="phoneNumber" required pattern="[0-9]{10}" #phoneNumber="ngModel" />
            <div *ngIf="phoneNumber.invalid && phoneNumber.touched" class="text-danger">
              <div *ngIf="phoneNumber.errors?.['required']">Phone Number is required.</div>
              <div *ngIf="phoneNumber.errors?.['pattern']">Please enter a valid 10-digit phone number.</div>
            </div>
          </div>


          <div class="form-outline mb-4">
            <select class="form-control form-control-lg" [(ngModel)]="register.role" name="role" required
              #role="ngModel" (change)="onRoleChange()">
              <option value="" disabled selected hidden>Select Role</option>
              <option value="Doctor">Doctor</option>
              <option value="User">User</option>
            </select>
            <div *ngIf="role.invalid && role.touched" class="text-danger">
              <div *ngIf="role.errors?.['required']">Role is required.</div>
            </div>
          </div>

          <div class="form-outline mb-4" *ngIf="register.role=='Doctor'" enable>
            <input type="text" class="form-control form-control-lg" placeholder="Specialization"
              [(ngModel)]="DoctorRegister.specialization" name="Specialization" required pattern="[a-zA-Z]+"
              #speacialization="ngModel" />
            <div *ngIf="speacialization.invalid && speacialization.touched" class="text-danger">
              <div *ngIf="speacialization.errors?.['required']">specialization is required.</div>
              <div *ngIf="speacialization.errors?.['pattern']">Please enter a valid specialization (only alphabets are
                allowed).</div>
            </div>
          </div>

          <div class="form-outline mb-4" *ngIf="register.role=='Doctor'" enable>
            <input type="text" class="form-control form-control-lg" placeholder="Experiance"
              [(ngModel)]="DoctorRegister.experiance" name="experiance" required pattern="[0-9]+"
              #experiance="ngModel" />
            <div *ngIf="experiance.invalid && experiance.touched" class="text-danger">
              <div *ngIf="experiance.errors?.['required']">experiance is required.</div>
              <div *ngIf="experiance.errors?.['pattern']">Please enter a valid experiance (only alphabets are
                allowed).</div>
            </div>

          </div>




          <div class="pt-3 mb-9">
            <button class="btn btn-dark btn-lg btn-block" type="button" (click)="onPost()">Register</button>
            <div *ngIf="showError" class="text-danger">Please fill all the fields.</div>
          </div>

          <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account?
            <a (click)="login_here()" style="color: #393f81;cursor: pointer;">Login here </a>
          </p>

          <span *ngIf="registration_status">Registration successful</span>
        </form>
      </form>
    </div>
  </section>
</body>