<!-- <div class="row">
    {doctorDetails.map((a) => (
  <div class="col-2 card card-inverse  " >
     <img src={`https://localhost:7052/uploads/${a.doctorImage}`} class="card-img-top" alt="ImageDescription" height="150rem"/> 
    <h3 class="card-title border-bottom font-monospace">{a.doctoName}</h3>
    <p class="card-text">Specialization : {a.specialization}</p>
    <p class="card-text">Experience in Years : {a.experienceYears}</p>
    <p class="card-text">phone : {a.phone}</p>
    <div id="buttons">
    </div>
    {!a.RequestStatus===true ? <button class="btn btn-success mt-4">Verified</button> : <button class="btn btn-success mt-4">Not Verified</button>}
  </div>
      
    ))}
</div> -->
<!-- <div class="container">
  <h1>Doctors List</h1>
  

  <div class="row">
    <div class=" card card-inverse  " style="height: 366px;" *ngFor="let c of DoctorRegister">
      <!-- <img src=".\assets\images\{{c.imageLocation|slice:-12}}" class="card-img-top" alt="Image Description" > -->
      <h3 class="card-title border-bottom font-monospace">{{c.id}}</h3>
      <p class="card-text">Specialization : {{c.specialization}}</p>
      <p class="card-text">Experiance : {{c.experiance}} Years</p>
      <p class="card-text">Location : {{c.location}}</p>
      <p class="card-text">Contact No: {{c.phone}}</p>
    
      <div id="buttons">
          <button class="btn btn-danger " (click)=" deleteDoctor(c)">Delete</button>
          </div>
   
</div> -->

