<div class="container">
  <div class="modal fade" id="updateModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content custom-modal-content">
        <div class="modal-header">
          <h5 class="modal-title custom-modal-title">Book your Appointment</h5>
          <button type="button" class="close btn btn-danger" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form #form="ngForm">
            <div class="form-group">
              <label for="date" class="custom-label">Date</label>
              <input type="date" class="form-control custom-input" id="date" name="date" [(ngModel)]="appointment.date">
            </div>
            <div class="form-group">
              <label for="timeslot" class="custom-label">Select a Timeslot:</label>
              <select id="timeslot" class="form-control custom-input" name="timeslot" [(ngModel)]="appointment.timeSlot">
                <option value="">-- Select a Timeslot --</option>
                <option value="6 - 6.30 pm">6 - 6.30 pm</option>
                <option value="6.30 - 7 pm">6.30 - 7 pm</option>
                <option value="7 - 7.30 pm">7 - 7.30 pm</option>
                <option value="7.30 - 8 pm">7.30 - 8 pm</option>
              </select>
            </div>
            <div class="form-group">
              <label for="cause" class="custom-label">Problem :</label>
              <input type="text" class="form-control custom-input" id="cause" name="cause" [(ngModel)]="appointment.details">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary custom-btn" data-dismiss="modal" (click)="Book(appointment)">Book</button>
        </div>
      </div>
    </div>
  </div>
</div>
