
<div class="container">
    <div class="modal fade" id="updateModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Appointment Booking</h5>
            <button type="button" class="close btn btn-danger" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form #form="ngForm">
              
              

              <div class="form-group">
                <label>Date</label>
                <input type="date" class="form-control" name="name" [(ngModel)]="appointment.date">
              </div>
              <div>
                <label for="timeslot">Select a Timeslot:</label>
                <select id="timeslot" name="TimeSlot" [(ngModel)]="appointment.timeSlot">
                  <option value="">-- Select a Timeslot --</option>
                  <option  value="6 - 6.30 pm">6 - 6.30 pm</option>
                  <option  value="6.30 - 7 pm">6.30 - 7 pm</option>
                  <option  value="7 - 7.30 pm">7 - 7.30 pm</option>
                  <option  value="7.30 - 8 pm">7.30 - 8 pm</option>
                </select>
              </div>
              <div class="form-group">
                <label >cause Detail :</label>
                <input type="text" class="form-control" name="about" [(ngModel)]="appointment.details">
              </div>


              
        
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)=" Book(appointment)">Book</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  

