

<h1>My Appointment History</h1>

<table class="table ">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">patient Name</th>
            <th scope="col">Doctor Id</th>
            <th scope="col">Date</th>
            <th scope="col">Time Slot</th>
            <th scope="col">Reason</th>
            <th scope="col">Medical Information</th>
            <th scope="col">Feedback</th>
            

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let req of request">
            <td>{{req.appointmentId}}</td>
            <td>{{req.patientId}}</td>
            <td>{{req.doctorId}}</td>
            <td>{{req.date}}</td>
            <td>{{req.timeSlot}}</td>
            <td>{{req.details}}</td>
            <td>{{req.medicalInfo}}</td>
            <td><button class="btn btn-info" data-toggle="modal" data-target="#updateModal" (click)="addFeedback(req.appointmentId)">feedback</button></td>
    

        </tr>
    </tbody>
</table>



