<div class="row"><p style="font-size: 1.5rem; font-weight: bold; color: #333; margin-bottom: 1rem; text-align: center;">YOUR APPOINTMENT</p>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let req of request">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Appointment ID: {{ req.appointmentId }}</h5>
          <p class="card-text">Patient Name: {{ req.patientId }}</p>
          <p class="card-text">Doctor ID: {{ req.doctorId }}</p>
          <p class="card-text">Date: {{ req.date }}</p>
          <p class="card-text">Time Slot: {{ req.timeSlot }}</p>
          <p class="card-text">Reason: {{ req.details }}</p>
        </div>
      </div>
    </div>
  </div>
  