.card{
   
    padding: 7px;
    align-items: center;
}
body {
    background-image: url('./../../assets/bgimage6.jfif');
    background-size: cover;
    background-position: center;
  }
  .login_img {
    width: 10px;
  height: 0px; 
  padding-left: 400px;
  padding-top: 50px;
  }
