<div class="container">
    <h1>Book Appointment</h1>
    
  
    <div class="row">
      <div class=" card card-inverse  " style="height: 366px;" *ngFor="let c of DoctorRegister">
        <!-- <img src=".\assets\images\{{c.imageLocation|slice:-12}}" class="card-img-top" alt="Image Description" > -->
        <h3 class="card-title border-bottom font-monospace">{{c.id}}</h3>
        <p class="card-text">Specialization : {{c.specialization}}</p>
        <p class="card-text">Experiance : {{c.experiance}} Years</p>
        <p class="card-text">Location : {{c.location}}</p>
        <p class="card-text">Contact No: {{c.phone}}</p>
      
        <div id="buttons">
            <button class="btn btn-danger " data-toggle="modal" data-target="#updateModal" (click)=" bookAppointment(c.id)">Book Appointment</button>
            
            </div>
  </div>
  <app-book data="{{selectedDoctorId}}" ></app-book>
  

  
 
